## __Pymongo__

In [1]:
import pymongo as p
import numpy as np
import pandas as pd

In [2]:
client = p.MongoClient('mongodb://localhost:27017/')

## __Show dbs__

In [3]:
client.list_database_names()

['admin', 'config', 'local', 'posts']

## __Make new db__

In [4]:
newdb = client['pymong']

In [5]:
client.list_database_names()

['admin', 'config', 'local', 'posts']

## __Make new collection__

In [6]:
newcol = newdb['newcol']

In [7]:
client.list_database_names()

['admin', 'config', 'local', 'posts']

In [8]:
newdb.list_collection_names()

[]

## __Make new doc__

In [36]:
data = {'name': 'Andy', 'age': 29}
x = newcol.insert_one(data)

In [25]:
x.inserted_id

ObjectId('5fd2d220c0328017ffbda5d0')

In [13]:
x

## __Make couple of docs__

In [11]:
new_data = [{'name': 'Budi', 'age': 27}, {'name': 'Caca', 'age': 28}]
k = newcol.insert_many(new_data)

In [14]:
k

In [15]:
k.inserted_ids

[ObjectId('5fd2d2b0c0328017ffbda5d1'), ObjectId('5fd2d2b0c0328017ffbda5d2')]

## __Print All Data__

In [16]:
client.list_database_names()

['admin', 'config', 'local', 'posts', 'pymong']

In [18]:
newdb.list_collection_names()

['newcol']

In [37]:
list(newcol.find())

[{'_id': ObjectId('5fd2d2b0c0328017ffbda5d1'), 'name': 'Budi', 'age': 27},
 {'_id': ObjectId('5fd2d2b0c0328017ffbda5d2'), 'name': 'Caca', 'age': 28},
 {'_id': ObjectId('5fd2d6fcc0328017ffbda5d3'), 'name': 'Andy', 'age': 29},
 {'_id': ObjectId('5fd2d6fcc0328017ffbda5d4'), 'name': 'Andy', 'age': 29}]

In [21]:
col1 = list(newcol.find())
col1

[{'_id': ObjectId('5fd2d220c0328017ffbda5d0'), 'name': 'Andy', 'age': 29},
 {'_id': ObjectId('5fd2d2b0c0328017ffbda5d1'), 'name': 'Budi', 'age': 27},
 {'_id': ObjectId('5fd2d2b0c0328017ffbda5d2'), 'name': 'Caca', 'age': 28}]

In [24]:
type(col1[0])

dict

## __Find data__

In [29]:
myquery = {'name': 'Andy'}
data_andy = list(newcol.find(myquery))

In [30]:
data_andy

[{'_id': ObjectId('5fd2d220c0328017ffbda5d0'), 'name': 'Andy', 'age': 29}]

In [32]:
data_andy[0]['_id']

ObjectId('5fd2d220c0328017ffbda5d0')

## __Delete Data One__

In [33]:
# data aslinya 
# [{'_id': ObjectId('5fd2d6fcc0328017ffbda5d3'), 'name': 'Andy', 'age': 29},
#  {'_id': ObjectId('5fd2d2b0c0328017ffbda5d1'), 'name': 'Budi', 'age': 27},
#  {'_id': ObjectId('5fd2d2b0c0328017ffbda5d2'), 'name': 'Caca', 'age': 28}]

newcol.delete_one(myquery)

In [34]:
list(newcol.find())

[{'_id': ObjectId('5fd2d2b0c0328017ffbda5d1'), 'name': 'Budi', 'age': 27},
 {'_id': ObjectId('5fd2d2b0c0328017ffbda5d2'), 'name': 'Caca', 'age': 28}]

## __Delete Data Many__

In [38]:
# data aslinya:
# [{'_id': ObjectId('5fd2d2b0c0328017ffbda5d1'), 'name': 'Budi', 'age': 27},
#  {'_id': ObjectId('5fd2d2b0c0328017ffbda5d2'), 'name': 'Caca', 'age': 28},
#  {'_id': ObjectId('5fd2d6fcc0328017ffbda5d3'), 'name': 'Andy', 'age': 29},
#  {'_id': ObjectId('5fd2d6fcc0328017ffbda5d4'), 'name': 'Andy', 'age': 29}]

newcol.delete_many(myquery)

In [39]:
list(newcol.find())

[{'_id': ObjectId('5fd2d2b0c0328017ffbda5d1'), 'name': 'Budi', 'age': 27},
 {'_id': ObjectId('5fd2d2b0c0328017ffbda5d2'), 'name': 'Caca', 'age': 28}]

## __Update Data__

In [42]:
q = {'name': 'Budi'}
newvalues = {'$set': {'name': 'Bambang'}}
newcol.update_one(q, newvalues)

In [43]:
list(newcol.find())

[{'_id': ObjectId('5fd2d2b0c0328017ffbda5d1'), 'name': 'Bambang', 'age': 27},
 {'_id': ObjectId('5fd2d2b0c0328017ffbda5d2'), 'name': 'Caca', 'age': 28}]

In [44]:
q = {'name': 'Bambang'}
newvalues = {'$inc': {'age': 3}}
newcol.update_one(q, newvalues)

In [45]:
list(newcol.find())

[{'_id': ObjectId('5fd2d2b0c0328017ffbda5d1'), 'name': 'Bambang', 'age': 30},
 {'_id': ObjectId('5fd2d2b0c0328017ffbda5d2'), 'name': 'Caca', 'age': 28}]

In [46]:
q = {'name': 'Bambang'}
newvalues = {'$inc': {'age': -3}}
newcol.update_one(q, newvalues)

In [47]:
list(newcol.find())

[{'_id': ObjectId('5fd2d2b0c0328017ffbda5d1'), 'name': 'Bambang', 'age': 27},
 {'_id': ObjectId('5fd2d2b0c0328017ffbda5d2'), 'name': 'Caca', 'age': 28}]

## __Count Data__

In [48]:
newcol.count_documents({})

2

In [50]:
newcol.count_documents({'name': 'Bambang'})

1

In [52]:
newcol.count_documents({'age': {'$gt': 27}})

1

## __Limit__

In [53]:
list(newcol.find().limit(1))

[{'_id': ObjectId('5fd2d2b0c0328017ffbda5d1'), 'name': 'Bambang', 'age': 27}]

## __Find one data__

In [54]:
data = [{'name': 'Andy', 'age': 29}, {'name': 'Andy', 'age': 30}] 
x = newcol.insert_many(data)

In [55]:
list(newcol.find())

[{'_id': ObjectId('5fd2d2b0c0328017ffbda5d1'), 'name': 'Bambang', 'age': 27},
 {'_id': ObjectId('5fd2d2b0c0328017ffbda5d2'), 'name': 'Caca', 'age': 28},
 {'_id': ObjectId('5fd2da66c0328017ffbda5d5'), 'name': 'Andy', 'age': 29},
 {'_id': ObjectId('5fd2da66c0328017ffbda5d6'), 'name': 'Andy', 'age': 30}]

In [56]:
myquery = {'name': 'Andy'}
newcol.find_one(myquery)

{'_id': ObjectId('5fd2da66c0328017ffbda5d5'), 'name': 'Andy', 'age': 29}