# DATA VISUALIZATION

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
cleo = pd.read_csv('CLEO_JK.csv')
icbp = pd.read_csv('ICBP_JK.csv')
myor = pd.read_csv('MYOR_JK.csv')
tlkm = pd.read_csv('TLKM_JK.csv')

In [5]:
cleo

           Date   Open   High    Low  Close  Adj Close    Volume
0    2019-11-25  525.0  525.0  515.0  525.0      525.0   8169400
1    2019-11-26  525.0  530.0  520.0  525.0      525.0   6262100
2    2019-11-27  525.0  525.0  515.0  520.0      520.0   7498300
3    2019-11-28  520.0  520.0  505.0  510.0      510.0  10126600
4    2019-11-29  510.0  515.0  500.0  510.0      510.0   7746300
..          ...    ...    ...    ...    ...        ...       ...
237  2020-11-17  482.0  488.0  482.0  488.0      488.0   8873000
238  2020-11-18  488.0  498.0  488.0  494.0      494.0  12405800
239  2020-11-19  494.0  515.0  494.0  500.0      500.0  19700400
240  2020-11-20  500.0  505.0  498.0  498.0      498.0  12207300
241  2020-11-23  498.0  500.0  494.0  496.0      496.0   5992300

[242 rows x 7 columns]